{% extends 'base_app/main.html' %}

{% block title%}Снимки склада{% endblock title %}

{% block header %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Главная страница</h1>
                <p class="lead fw-normal text-white-50 mb-0">Еще что-то</p>
            </div>
        </div>
     </header>
{% endblock header %}

{% block body %}
    <h2>Картриджи</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Номенклатурный номер (из программы 1С)</th>
                <th scope="col">Артикул (при наличии)</th>
                <th scope="col">Наименование</th>
            </tr>
        </thead>
        <tbody>
            {% for cartridge in object_list %}
                <tr>
                    <td><a class="nav-link active" aria-current="page" href="{% url 'storage:index' %}">{{ cartridge }}</a></td>
                    <td>{{ cartridge.article }}</td>
                    <td>{{ cartridge.caption }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
    </ul>

{% endblock body %}
