{% extends 'base_app/main.html' %}

{% block title%}
    Список для печати
{% endblock title %}

{% block header %}
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Загрузить файл</h1>
        <p class="lead fw-normal text-white-50 mb-0">Загрузить файл</p>
    </div>
{% endblock header %}

{% block body %}

    <style>

        td {
            overflow-wrap: break-word;
            word-break: break-word;
        }

        .table-container {
            max-height: 70vh;
            overflow-y: auto;
        }
        
        .table-fixed-header thead th {
            position: sticky;
            top: 0;
            z-index: 10;
        }

    </style>

    <form method="post" target="_blank">
        {% csrf_token %}
        <div class="table-container mb-2">
            <table class="table table-hover table-fixed-header mb-0">
                <thead>
                    <tr>
                        <th width="10%">Номенклатурный номер (из 1С)</th>
                        <th width="10%">Артикул</th>
                        <th width="10%">Количество</th>
                        <th width="70%">Наименование</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cartridges %}
                        <tr>
                            <td>{{ c.number }}</td>
                            <td>{{ c.article }}</td>
                            <td><input id="{{ c.number }}" type="number" name="{{ c.number }}"></td>
                            <td>{{ c.caption }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" type="submit">Напечатать штрихкоды</button>
    </form>
{% endblock body %}
