<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Печать штрихкода</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.12.1/JsBarcode.all.min.js" integrity="sha512-fLmJPYDfCIAZ0gpG/iiIzPw113KquhzI1bxG0XhiLYyqm8Ax2lEiq1h1qv2vafH9tLzkjm4HYRWSeKoGFH4xIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <section>
            <div class="container-fluid">
                <div class="row">
                    {% for key, value in request.session.data.items %}
                        {% for i in value.count %}
                            <div class="col-4 mb-0">
                                <div class="row text-center">
                                    <div class="col-12 border">
                                        <img class="img-fluid responsive-image mb-0" id="barcode{{ key }}">
                                        <div class="mb-0" style="font-size: 0.5rem;">{{ key }}</div>
                                        <div class="fw-bold mb-0" style="font-size: 0.5rem;">Артикул: {{ value.article }}</div>
                                        <div class="mb-1 text-break" style="font-size: 0.5rem; height: 1.2cm;">{{ value.caption }}</div>
                                        <script>
                                            JsBarcode("#barcode{{ key }}", "{{ key }}", {
                                                width:2,
                                                height:25,
                                                displayValue: false,
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </body>
</html>